@import url('./fonts.css');

/* Remove Scrollbars */

::-webkit-scrollbar {
  display: none;
}

:root {
  /* chosen: 96, scale: 3 */
  --light-level-0: oklch(96% none none);
  --light-level-1: oklch(93% none none);
  --light-level-2: oklch(90% none none);
  --light-level-3: oklch(87% none none);
  --light-muted: oklch(81% none none);
  --light-primary: oklch(10% none none);
  --light-secondary: oklch(19% none none);
  --light-accent-0: oklch(4% none none);
  --light-accent-1: oklch(7% none none);

  /* chosen: 7, scale: 4 */
  --dark-level-0: oklch(7% none none);
  --dark-level-1: oklch(11% none none);
  --dark-level-2: oklch(15% none none);
  --dark-level-3: oklch(19% none none);
  --dark-muted: oklch(27% none none);
  --dark-primary: oklch(85% none none);
  --dark-secondary: oklch(73% none none);
  --dark-accent-0: oklch(93% none none);
  --dark-accent-1: oklch(89% none none);
}

html {
  background-color: var(--light-level-0);
  color: var(--light-primary);
  font-family: "Hind", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 2;
  height: 100vh;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 80px;
  padding: 24px;
  display: flex;
  justify-content: right;
}

header > .usr-btn {
  align-self: center;
  font-size: 16px;
  line-height: 1.2;
  padding: 8px 12px 4px;
  border: 2px dashed var(--light-accent-0);
  border-radius: 8px;
}

main {
  padding: 24px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  text-align: center;
}

p {
  margin: 0;
}

.muted {
  color: var(--light-muted);
}

.muted > #essay:hover {
  cursor: pointer;
  font-style: italic;
}

#bhaarat {
  cursor: pointer;
}
